.cart {
  display: grid;
  gap: 32px;
  grid-template-columns: calc(100% - 392px) auto;
  height: auto;
  margin: 32px auto 44px;
  max-width: 1200px;
  min-height: unset;
}

.cart-items {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px 30px;
}

.cart-items h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.cart-resume {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 30px 40px;
  max-height: 160px;
  max-width: 350px;
}

.cart-resume h3 {
  font-size: 27px;
  margin-bottom: 20px;
  font-weight: 600;
}

.cart-resume span {
  font-size: 23px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
